<template>
    <div class="container">
        <div class="row mt-5 d-flex justify-content-center align-items-center">
            <div class="col-8 mt-5">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input v-model="email" type="email" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp"
                               placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button class="btn btn-primary mt-2" @click="login">Login</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {useUserStore} from '../stores/user'
    import {ref} from 'vue';
    //import { useRouter, useRoute } from 'vue-router'
    import router from "@/router";

    export default {
        name: "Login",
        setup() {
            const userStore = useUserStore();
            const email = ref(null);
            const login = () => {
                userStore.setUser({email: ''})
                router.push({
                    name: 'home',
                });
            }
            return {
                email, login
            }
        }
    }
</script>
