<template>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-8 d-flex justify-content-center">
                <button class="btn btn-sm btn-primary" @click="fav=true">Favorite Tasks</button>
                <button class="btn btn-sm btn-danger" @click="fav=false">All</button>
            </div>
        </div>
        <div v-if="fav">
            <div class="row d-flex justify-content-center"
                 v-for="(task,index) in taskStore.getFavTasks" :key="'fav_'+index">
                <TaskDetail @removeFavorite="removeFavorite(task)" @delete="deleteTask(task)"
                            @favorite="favorite(task)" :task="task"/>
            </div>
        </div>
        <div v-else>
            <div class=" row d-flex justify-content-center"
                 v-for="(task,index) in taskStore.tasks" :key="index">
                <TaskDetail @removeFavorite="removeFavorite(task)" @delete="deleteTask(task)"
                            @favorite="favorite(task)" :task="task"/>
            </div>
        </div>
    </div>
</template>


<script lang="ts">
    import {userTaskStore} from '@/stores/TaskStore'
    import {defineComponent, ref} from 'vue';
    import {Task} from "@/models/Task"
    import TaskDetail from "@/components/TaskDetail.vue";

    export default defineComponent({
        name: 'HelloWorld',
        components: {TaskDetail},
        setup() {
            const taskStore = userTaskStore()
            //const tasks = reactive(taskStore)
            const fav = ref(false);

            const deleteTask = (task: Task) => {
                taskStore.deleteTask(task);
            }
            const removeFavorite = (task: Task) => {
                taskStore.removeFromFavorite(task);
            }
            const favorite = (task: Task) => {
                taskStore.addInFav(task);
            }

            return {taskStore, deleteTask, favorite, removeFavorite, fav};
        },

        methods: {
            getData() {
                return 123;
            }
        },
        mounted(): void {
            this.getData();
        }
    });
</script>
<style>
    .task-container {
        min-height: 100px;
        background-color: aliceblue;
        border: 1px solid gray;
        border-radius: 10px;
    }

    .icon-container {
        padding-bottom: 10px;
        text-align: right;
    }

    .btn {
        margin-right: 10px;
    }
</style>