<template>
    <div class="col-8 mt-2 task-container">
        <h4 class="m-0 p-0 mt-2"><strong>Task:</strong>{{task.title}}</h4>
        <p><strong>Description:</strong>{{task.description}}</p>
        <div class="icon-container">
           <!-- <div>{{task}}</div>-->
            <button v-if="!task.is_fav" class="btn btn-sm btn-primary" @click="$emit('favorite')">Favorite
            </button>
            <button v-else class="btn btn-sm btn-primary" @click="$emit('removeFavorite')">Remove Favorite
            </button>
            <button class="btn btn-sm btn-danger" @click="$emit('delete')">Delete</button>
        </div>
    </div>
</template>
<script lang="ts">
    export default {
        name: 'TaskDetail',
        props: {
            task: {}
        }
    }
</script>
<style>
    .task-container {
        min-height: 100px;
        background-color: aliceblue;
        border: 1px solid gray;
        border-radius: 10px;
    }

    .icon-container {
        padding-bottom: 10px;
        text-align: right;
    }

    .btn {
        margin-right: 10px;
    }
</style>