<template>
    <div>
        <div v-if="userStore.isLoggedIn">
            <nav>
                <router-link to="/">Home</router-link>
                |
                <router-link to="/about">About</router-link>
                |
                <a href="#" @click="logout">Logout</a>
            </nav>
            <router-view/>
        </div>
        <div v-else>
            <router-view/>
        </div>
    </div>
</template>
<script>
    import {useUserStore} from "./stores/user"
    // import Login from "@/views/Login";

    export default {
        //   components: {Login},
        setup() {
            const userStore = useUserStore();
            const logout = () => {
                userStore.logout()
            }
            return {userStore, logout}
        },
    }
</script>
<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
    }

    nav {
        padding: 30px;
    }

    nav a {
        font-weight: bold;
        color: #2c3e50;
    }

    nav a.router-link-exact-active {
        color: #42b983;
    }
</style>
